html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
nav,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  margin: 0;
}

.hidden {
  display: none;
}

/* ---------------------------------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#scrollTopBtn {
  max-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 10;

  padding: 6px 32px;
  border-radius: 40px;
  border: none;
  background-color: #e2001a;

  color: white;
  font-family: DINPro;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  /* text-transform: uppercase; */
  text-align: left;
  transition: 0.3s linear;
}

.btn {
  width: 100%;
  position: relative;
}

.fix {
  position: absolute !important;
}

#scrollTopBtn::after {
  content: url("../img/arrow up.svg");

  /* background-image: url("../img/arrow up.svg"); */
}

#scrollTopBtn:hover {
  color: #fff;
  transition: 0.1s linear;
}

/* ---------------------------------------- */

/* ------Burger---------------------------------- */

.nav-burger {
  position: relative;
  z-index: 1;
  background-color: #fff;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  transition: top 2.5s;
}

.menu {
  width: 90%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
}

.burger-menu {
  display: none;
}

.burger {
  width: 30px;
  height: 4px;
  background-color: #a2a1a1;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 50px;
}

.burger:nth-child(1) {
  width: 23px;
}
.burger:nth-child(2) {
  width: 30px;
}
.burger:nth-child(3) {
  width: 25px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  z-index: 0;
  display: none;
}

.overlay.active {
  display: block;
}

.block {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .nav-burger {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
  }

  .menu {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    transition: opacity 6.3s;
    opacity: 0;
    overflow: auto;
    justify-content: start;
  }
  .menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 1;
  }

  .menu li {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #f6f6f6;
    border-top: 1px solid #f6f6f6;
    padding: 20px 32px;
  }

  .burger-menu {
    display: block;
  }
  .burger-menu.active .burger:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 3px);
    width: 25px;
  }
  .burger-menu.active .burger:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.active .burger:nth-child(3) {
    transform: rotate(45deg) translate(-11px, -6px);
    width: 25px;
  }
  html.no-scroll {
    overflow: hidden;
  }
}

/* ------/Burger---------------------------------- */

/* Cards */

.img-block {
  position: absolute;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.img-block img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}

.img-block::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 20%;
  width: 100%;
  height: 60%;
  background-color: transparent;
  border-radius: 50%; /* Создание круга */
  transition: background-color 0.3s ease; /* Анимация смены цвета фона */
  z-index: 0; /* Задний план, чтобы не перекрывать изображение */
}

/* Изменение цвета круга при наведении */
.img-block:hover::before {
  background-color: #a91255;
}

.cards-block {
  position: relative;
}

.cards-block a img:hover {
}

.card-1 {
  position: absolute;
  left: 237px;
  top: 20px;
  max-width: 6%;
  min-width: 65px;
  transition: 0.3s linear;
}

.card-2 {
  position: absolute;
  left: 442px;
  top: 20px;
  max-width: 6%;
  min-width: 65px;
  transition: 0.3s linear;
}

.card-3 {
  position: absolute;
  left: 442px;
  bottom: 105px;
  max-width: 6%;
  min-width: 65px;
  transition: 0.3s linear;
}

.card-4 {
  position: absolute;
  left: 680px;
  bottom: 105px;
  max-width: 6%;
  min-width: 65px;
  transition: 0.3s linear;
}

.card-5 {
  position: absolute;
  left: 865px;
  bottom: 105px;
  max-width: 6%;
  min-width: 65px;
  transition: 0.3s linear;
}
/* Cards */

._container {
  max-width: 1092px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

._line {
  display: block;
  width: 100%;
  border-bottom: 1px solid #f6f6f6;
}

._img {
  width: 100%;
  margin-top: 32px;
}

._purple {
  color: #efb4cb;
}

p span {
  color: #e2001a;
  font-family: DINPro;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 150%; */
}

._gray {
  color: #666666;
  font-weight: 600;
}

._red {
  color: #e2001a;
}

.fix {
  overflow: hidden;
}

._img {
  width: 50%;
}

.material-placeholder {
  margin: auto;
}

/* ---Header------------------------------------- */

.header {
  background-color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__container {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  position: relative;
  z-index: 2;
  background-color: white;
}
.header__logo {
  width: min-content;
  position: relative;
  z-index: 5;
  margin-bottom: 32px;
}

.header__menu {
  /* margin: 32px 0px 0px 0px; */
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.menu__list li {
  margin: 0px 0px 0px 50px;
}

.menu__link {
  color: #666666;
  font-family: DINPro-Medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}

.menu__link:hover,
.menu__link:focus {
  color: #e2001a;
}

.menu__link.active__btn {
  color: #e2001a;
  border-bottom: 1px solid #e2001a;
}

/* ---Main------------------------------------- */
.main {
  flex: 1 1 auto;
}

/* ---About------------------------------------- */

.page {
  padding: 140px 0px 0px 0px;
}

.page__main-block {
  width: 100%;
  background-color: #f6f6f6;
  padding: 48px 0px;
  text-align: center;
}
.page__main-title {
  color: #e2001a;
  font-family: DINPro;
  font-weight: 400;
  font-size: 64px;
  line-height: 112.5%;
}

.page__main-subtitle {
  color: #e2001a;
  font-family: DINPro;
  font-weight: 400;
  font-size: 32px;
  line-height: 112.5%;
}

/* ---Main block------------------------------------- */

.page-history {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 80px;
}

.page-history__block {
  margin-top: 50px;
  margin-bottom: 50px;
}

.page-history__title,
.page-size__title,
.page-needs__tilte,
.size__page-title {
  color: #e2001a;
  font-family: DINPro;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  margin-bottom: 32px;
  text-align: center;
}

.history__title > strong {
  font-weight: 400 !important;
}

.page-history__subtitle,
.teeth-block__subtitle,
.system-block__subtitle,
.joints-block__subtitle {
  color: #666666;
  font-family: DINPro;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.page-history__subtitle:last-child {
  margin-top: 32px;
}

.size__page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: auto;
  margin: 50px 0;
  text-align: center;
}

.size__block {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: auto;
}

.page-size__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-size__title {
  max-width: 50%;
}

.teeth-block__title,
.system-block__title,
.joints-block__title {
  color: #666666;
  font-family: DINPro;
  font-weight: 400;
  font-size: 32px;
  line-height: 112.5%;
  margin-bottom: 20px;
}

.size-blocks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.size-blocks:nth-last-child() {
}

.product-card__img-mob {
  display: none;
}

.product-block {
  display: flex;
  align-items: center;
  padding: 55px 0 55px 80px;
  margin-bottom: 80px;
}

.product-block__img {
  min-width: 442px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 14px;
}

.product-block__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-block__title {
  font-family: DINPro;
  font-weight: 500;
  font-size: 32px;
  line-height: 112.5%;
}

.xsmall,
.xsmall li h3 {
  color: #8abd24;
}

.mini,
.mini li h3 {
  color: #007e32;
}

.medium,
.medium li h3 {
  color: #ae1022;
}

.maxi,
.maxi li h3 {
  color: #0d316e;
}

.giant,
.giant li h3 {
  color: #72207e;
}

.product-mobile__block {
  display: none;
}

.product-block__subtitle {
  font-family: DINPro;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

.product-block__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 30px;
}

.product-block__item {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.icon-block {
  display: flex;
  flex-direction: column;
}

.icon-title {
  font-family: DINPro;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.icon-subtitle {
  font-family: DINPro;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

@media (max-width: 992px) {
  #scrollTopBtn {
    font-size: 12px;
  }

  .header__logo {
    margin-bottom: 0;
  }

  .page-history {
    flex-direction: column-reverse;
  }

  .page-size__title {
    max-width: 100%;
  }

  .size-blocks {
    flex-direction: column-reverse;
  }

  .size-blocks:nth-child(3n) {
    flex-direction: column;
  }

  .page-needs {
    text-align: center;
    margin: 50px 0;
  }

  .product-mobile__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

    /* background-color: #efb4cb; */
  }

  .product-block__item {
    align-items: center;
    flex-direction: column;
  }

  .product-block__img {
    min-width: 380px;
  }

  .page__main-block {
    flex-direction: column;
    align-items: center;
  }

  .page__main-title {
    font-size: 54px;
  }

  .page-mob__img {
    display: block;
  }

  .page__img {
    display: none;
  }

  .material-placeholder {
    position: relative;
  }

  .material-placeholder::before {
    content: url("../img/size.svg");
    position: absolute;
    top: 50px;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    z-index: 10;
  }

  .cards-block {
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 1;
  }

  .scroll-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .scroll-btn button {
    background: transparent;
    border: none;
    font-size: 35px;
    color: #d7d7d7;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .scroll-btn button:hover,
  .scroll-btn button:focus {
    color: red;
  }

  input[type="range"] {
    display: flex;

    /* margin: auto; */
    width: 90%;

    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #4caf50 0%, #4caf50 0%, #d3d3d3 0%);
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    margin-top: 10px;
  }

  input[type="range"]:hover {
    opacity: 1;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e2001a;
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e2001a;
    cursor: pointer;
  }

  span .value {
    display: none;
  }

  .product-list {
    margin-bottom: 140px;
  }

  .product-bottom__img,
  .product-complex__img,
  .product-milk__img,
  .product-need__img,
  .product-solution__img {
    display: none;
  }

  .product-mobile__block {
    display: flex;
    width: 100%;
    position: relative;
  }

  .product-mobile__block.green {
    background-color: #8abd24;
  }

  .product-mobile__block.b-green {
    background-color: #007e32;
  }

  .product-mobile__block.red {
    background-color: #ae1022;
  }

  .product-mobile__block.blue {
    background-color: #0d316e;
  }

  .product-mobile__block.pink {
    background-color: #72207e;
  }

  .product-solution .product-mobile__block {
    /* background-color: #e5508d; */
  }

  .product-solution .product-mobile__title {
    color: white;
    padding: 17px 0;
  }

  .product-mobile__img {
    max-width: 65px;
    width: 100%;
    z-index: 1;
    bottom: 30%;
    padding: 0 10px;
  }

  .product-mobile__text {
    text-align: center;
    font-family: DINPro;
    color: white;
  }

  .product-mobile__text h2 {
    font-size: 14px;
    font-weight: 700;
  }

  .product-mobile__text span {
    font-size: 12px;
    font-weight: 400;
  }

  .product-mobile__title {
    color: #a91255;

    font-family: DINPro;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
  }

  .product-mobile__subtitle {
    color: #666666;

    font-family: DINPro;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
  }

  .product-mobile__text {
    width: 90%;
    margin: auto;
    gap: 5px;
    padding: 10px;

    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .product-block {
    flex-direction: column;
    row-gap: 35px;
    padding: 55px 0;
  }

  .product-card__img {
    display: none;
    width: 50%;
    max-width: 445px;
  }

  .product-block__img {
    max-width: min-content;
  }

  .product-card__img-mob {
    display: block;
  }

  .product-card__text {
    position: static;
    text-align: center;
  }

  .product-block__text {
    text-align: center;
  }

  .product-card__text::before {
    display: none;
  }

  .product-about {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .product-about__title {
    max-width: 100%;
  }

  .program-title {
    padding-top: 32px;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 80px 0px 0px 0px;
  }

  .header__menu {
    display: none;
  }

  .header__burger {
    display: block;
    position: absolute;
    left: 20px;
    top: 35%;
    width: 30px;
    height: 20px;
  }

  .header__burger span {
    position: absolute;
    background-color: #808285;
    left: 0px;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #808285;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header__burger::before {
    top: 0px;
  }

  .header__burger::after {
    bottom: 0px;
  }

  .header__container {
    padding: 15px 0;
  }

  .page-history {
    padding-top: 32px;
  }
  .page-history {
    flex-direction: column-reverse;
  }

  .page-history__block {
    text-align: center;
  }

  .page-history__title,
  .product-block__title,
  .program-title,
  .size__page-title {
    max-width: 100%;
    /* font-size: 24px; */
    line-height: 133.3%;
  }

  ._img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .page__main-block {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    gap: 10px;
  }

  .page__main-title {
    font-weight: 600;
    max-width: 250px;
    font-size: 32px;
  }

  .page__main-subtitle {
    font-size: 24px;
    line-height: 133%;
    color: #666666;
  }

  .product-list {
    flex-direction: column;
  }

  .product-list__item {
    width: 100%;

    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .product-list__text {
    text-align: center;
  }

  .product-factors {
    width: 100%;
    padding: 0;
  }

  .factors-block::after,
  .product-factors::after,
  .factors-block::before,
  .product-factors::before {
    content: "";

    position: absolute;
    width: 110%;
    border-bottom: 2px dashed #e5508d;
  }

  .factors-block::before,
  .product-factors::before {
    top: -40px;
  }

  .factors-block::after,
  .product-factors::after {
    bottom: -40px;
  }

  .product-factors::before,
  .product-factors::after {
    display: none;
  }

  .product-factors__title,
  .product-factors__subtitle {
    text-align: center;
  }

  .milk-about-desc__img {
    display: none;
  }

  .milk-about-mob__img {
    display: block;
  }
}

/* Full */
